<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>weekdays | 이메일 인증확인</title>

    <!-- Bootstrap -->
    <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div class="py-5 text-center" th:if="${error}">
            <div class="alert alert-danger" role="alert">
                이메일 확인 링크가 정확하지 않습니다. 다시 시도해주세요.
            </div>
        </div>

        <div class="py-5 text-center" th:if="${error == null}">

            <div class="alert alert-info" role="alert">
                <span th:text="${nickname}"></span> 님 가입을 축하드립니다. 권한은 재 로그인 후 반영됩니다. 아래 링크를 눌러 다시 로그인 해주세요.
            </div>

            <h1><a th:href="@{/logout}">weekdays</a> 로 이동합니다. </h1>
        </div>

    </div>
</div>


</body>
</html>